!!! XML
!!!
%html{'xmlns'=>'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv'=>"Content-Type", 'content'=>"text/html"}
    %title Clinic Demo
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'reset', 'clearfix', 'styles', 'formtastic'

  %body
    #logo
      Clinic SMS
    #container
      = render :partial => 'layouts/navigation'
      = yield